---
import ThemeToggle from "../components/ThemeToggle.astro";
import Layout from "../layouts/Layout.astro";

// docs 配下のファイルを取得
export const allDocs = await Astro.glob("./docs/*.md");

// ポストを新しい順に並び替え
const sortedDocs = allDocs
  .sort((a, b) => {
    const aDate = new Date(a.frontmatter.pubDate);
    const bDate = new Date(b.frontmatter.pubDate);
    return bDate.getTime() - aDate.getTime();
  })
  .filter((doc) => !doc.frontmatter.hiddenList);
---

<Layout
  title="Docs | NWU"
  description="ドキュメント一覧"
>
  <main class="bg-white dark:bg-black min-h-screen flex flex-col justify-start items-center p-8 pt-12 md:pt-16 mb-32 transition-colors duration-300 font-sg">
    <ThemeToggle />
    <div class="max-w-2xl w-full">
      <div class="my-20">
        <h1 class="text-2xl font-medium mb-2 text-center text-gray-800 dark:text-gray-300">
          Docs
        </h1>
        <div class="text-xs text-center text-gray-800 dark:text-gray-300">
          役にたつドキュメントや、役にたたないエッセイ。
        </div>
      </div>

      <div>
        <ul>
          {sortedDocs.map((post) =>
            <li>
              <a href={post.url}>{post.frontmatter.title}</a>
            </li>
          )}
        </ul>
      </div>

    </div>
  </main>
</Layout>
